# These themes are allowed to use -
# pink | purple | deepPurple | indigo | blue | lightBlue | cyan | teal | green | lightGreen | lime | yellow | amber | orange | deepOrange | brown | grey | blueGrey

SERVER_PORT=8000
NODE_ENV=dev

APP_CLIENT=
APP_SERVER=
APP_THEME=
APP_NAME=

MONGODB_URI=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_DOMAIN=

VITE_APP_THEME=${APP_THEME}
VITE_APP_NAME=${APP_NAME}