NODE_ENV=""          # dev | prod





##  App Config ##
APP_NAME=""
APP_THEME=""          # red | deepOrange | orange | amber | yellow | lime pink | purple | deepPurple | lightGreen | green teal | cyan | lightBlue | blue | indigo
APP_CURRENCY=""
APP_CLIENT=""          # scheme://app.domain.tld
APP_SERVER=""          # scheme://api.domain.tld
APP_DOMAIN=""          # .domain.tld





##  Server Config  ##
JWT_SECRET=""
MONGODB_URI="mongodb://127.0.0.1:27017/${APP_NAME}"          # mongodb://127.0.0.1:27017/${APP_NAME}





##  Copy For Vite  ##
VITE_APP_NAME="${APP_NAME}"
VITE_APP_THEME="${APP_THEME}"
VITE_APP_CURRENCY="${APP_CURRENCY}"
VITE_APP_SERVER="${APP_SERVER}"