# App Config
# Use Any Color As APP_THEME From Below:
#   red, deepOrange, orange, amber, yellow, lime
#   pink, purple, deepPurple, lightGreen, green
#   teal, cyan, lightBlue, blue, indigo
APP_NAME=""
APP_THEME=""
APP_CLIENT=""
APP_SERVER=""

# Database Config
# MONGODB="mongodb://127.0.0.1:27017/${APP_NAME}"
MONGODB=""

# Copy For Vite
VITE_APP_NAME="${APP_NAME}"
VITE_APP_THEME="$APP_THEME}"
VITE_APP_CLIENT="${APP_CLIENT}"
VITE_APP_SERVER="${APP_SERVER}"